@import "./common/all.css";
@import "./common/header.css";
@import "./common/footer.css";


div.banner {
  position: relative;
  height: 480px;
  width: 80%;
  background-image: url("../images/index/apples-white-wooden-box.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0px auto;
}
div.box_top {
  width: 90%;
  height: 40px;
  border: 2px solid black;
  background: #ffffff;
  font-size: 14px;
  font-family: "王漢宗細黑體繁", "Chalkboard SE";
  margin: 0px auto;
  background-position: center center;
  box-shadow: 3px -3px black;
  padding: 10px;
}
a.ribbon img {
  width: 250px;
  margin:-10px 0px -50px 900px;
}
div.about_me {
  position: relative;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  margin:0px 0px 80px 0px;

}
div.about_me div.about_me1 {
  width: 170px;
}
div.about_me div.about_me1 h1{
  font-size: 36px;
  height: 100px;
  color: #000000;
  font-family: "王漢宗細黑體繁", "Chalkboard SE","Monotype Corsiva";
  transform: rotate(90deg);
  transform-origin: 50% 50%;
  width:400px;
  height:50px;
  padding:15px;
  margin:240px 0px 0px -80px;
}
div.about_me div.about_me1 div.line1 {
  width: 1.5px;
  height: 307px;
  background:black;
  margin: -40px 0px 0px 100px ;

}
div.about_me div.about_me2 {
  width: 300px;
  margin-left: 20px;

}
div.about_me div.about_me2 pre {
  line-height: 1;
  font-size: 18px;
  color: #000000;
  font-family: "王漢宗細黑體繁", "Chalkboard SE","Monotype Corsiva";
  margin:120px 0px 0px 0px;
}
div.about_me div.about_me2 p {
  font-size: 14px;
  color: #000000;
  font-family: "王漢宗細黑體繁", "Chalkboard SE","Monotype Corsiva";
  margin:30px 0px 0px 0px;
  line-height: 2;
}
div.about_me div.about_me2 a.more1{
  font-size: 14px;
  color: #000000;
  font-family: "王漢宗細黑體繁", "Chalkboard SE","Monotype Corsiva";
  border: 1px solid black;
  border-radius: 7px;
  text-decoration:none;
  margin: 100px 0px 0px 250px;
  padding: 6px;
  box-shadow: 2px 0px black;
}
div.about_me div.about_me3   {
    margin:0px 0px 0px 80px;
}
div.about_me div.about_me3 a.img img{
  width: 350px;
  margin:150px 0px 0px 0px;
}
div.about_me div.about_me3  p.text {
  margin:70px 0px 0px 0px;
  font-family: "王漢宗細黑體繁";
}
div.about_me  div.about_me3 div.line2 {
  width: 250px;
  height: 1.5px;
  background:black;
  margin: -10px 0px 0px 140px ;
  z-index: -1;

}
div.about_me div.about_me4   {
    margin:0px 0px 0px 20px;
}
div.about_me div.about_me4 a.img img {
  width: 210px;
  margin:280px 0px 0px -27px;
}
div.about_me div.about_me4 p.text  {
  margin:-360px 0px 0px 85px;
  font-family: "王漢宗細黑體繁";
}


div.about_me div.about_me4 div.line3 {
  width: 100px;
  height: 1.5px;
  background:black;
  margin: -10px 0px 0px -60px ;
}

div.about_me  h2 {
  font-size: 24px;
  color: #000000;
  font-family:  "Monotype Corsiva";
  transform: rotate(90deg);
  transform-origin: 50% 50%;
  letter-spacing: 3px;
  margin:400px 200px 10px -140px;
  height:70px;
  width: 300px;
}
h3{
 font-size: 24px;
 color: #000000;
 font-family: "王漢宗細黑體繁", "Chalkboard SE","Monotype Corsiva";
 margin:10px 0px 0px 150px;

}
section.Seasonal_goods {
  position: relative;
  display: flex;
  margin: 30px 0px 50px 150px;
  /* border: 1px solid red; */

}

section.Seasonal_goods div.items_iocn{
  display: flex;
  padding: 20px;
}
section.Seasonal_goods div.items_iocn img{
  width:145px;
  border-right:1px solid  #000000;
  padding: 0px 10px 0px 10px;
}

section.Seasonal_goods div.items_iocn div.fish{
  text-align: center;
  text-decoration:none;
}
section.Seasonal_goods div.items_iocn div.fish a{
  text-decoration:none;
  font-size: 14px;
  color: #000000;
  font-family: "王漢宗細黑體繁", "Chalkboard SE","Monotype Corsiva";
}
section.Seasonal_goods div.items_iocn div.apple{
  text-align: center;
  text-decoration:none;
}
section.Seasonal_goods div.items_iocn div.apple a{
  text-decoration:none;
  font-size: 14px;
  color: #000000;
  font-family: "王漢宗細黑體繁", "Chalkboard SE","Monotype Corsiva";
}
section.Seasonal_goods div.items_iocn div.grape{
  text-align: center;
  text-decoration:none;
}
section.Seasonal_goods div.items_iocn div.grape a{
  text-decoration:none;
  font-size: 14px;
  color: #000000;
  font-family: "王漢宗細黑體繁", "Chalkboard SE","Monotype Corsiva";
}
section.Seasonal_goods div.items_iocn div.cherry{
  text-align: center;
  text-decoration:none;

}
section.Seasonal_goods div.items_iocn div.cherry a.origin img{
  border-right:0px ;
}
section.Seasonal_goods div.items_iocn div.cherry a{
  text-decoration:none;
  font-size: 14px;
  color: #000000;
  font-family: "王漢宗細黑體繁", "Chalkboard SE","Monotype Corsiva";
}

section.Seasonal_goods div.circle{
  background-image: url("../images/index/2_000000000960.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80%;
  width:220px;
  height:220px;
  border-radius: 99em;
  background-color:white;
  float: right;
  margin:-20px 0px 0px 50px;
  box-shadow:1px 3px 3px .5px gray;
}
section.Seasonal_goods_img div.items_img {
  /* position: relative; */
  /* z-index: -1; */
  box-sizing: border-box;
  height:250px;
  display: flex;
  margin: 0 auto;
  overflow:hidden;

}

section.Seasonal_goods_img div.items_img a.fishes2 img{
  width: 250px;
  height: auto;
  filter:brightness(0.6);


}
section.Seasonal_goods_img div.items_img a.apples2 img{
  width: 400px;
  height: auto;
  filter:brightness(0.6);
}
section.Seasonal_goods_img div.items_img a.grapes2 img{
  width: 430px;
  height: auto;
  filter:brightness(0.6);
}
section.Seasonal_goods_img div.items_img a.cherries2 img{

  width: 250px;
  height: auto;
  filter:brightness(0.6);
}

article.hot_goods{
  position: relative;
  height: 550px;
  width: 100%;
  background-image: url("../images/index/01.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left 500px top 100px ;
  margin:60px 0px 80px 0px;
}
article.hot_goods h4.hot_goods{
  font-size: 24px;
  color: #000000;
  font-family: "王漢宗細黑體繁", "Chalkboard SE","Monotype Corsiva";
  padding:100px 0px 0px 100px;
}
article.hot_goods div.hot_goods_text p{
  font-size: 18px;
  color: #000000;
  font-family: "王漢宗細黑體繁", "Chalkboard SE","Monotype Corsiva";
  margin:80px 0px 0px 150px;
}
article.hot_goods div.hot_goods_text a.more2{
  font-size: 14px;
  color: black;
  border: 1px solid black;
  border-radius: 7px;
  box-shadow: 2px 0px black;
  text-decoration:none;
  padding: 4px ;
  margin:500px 0px 0px 400px;
}
article.hot_goods div.hot_goods_img {
  float: right;
  overflow:hidden;
  display: flex;
  width: 500px;
  /* height: 380px; */
  margin:-300px 0px 0px 0px;

}
article.hot_goods div.hot_goods_img img{
  width: auto;
  height: 380px;

}

div.text_{
  font-size: 14px;
  font-family: "王漢宗細黑體繁", "Chalkboard SE";
  background-color: #EF6306;
  text-align: center;
}
