@import "./common/all.css";
@import "./common/header.css";
@import "./common/footer.css";



.carousel-item img{
  max-width: 1100px;
  width: 100%;
  font-size: 0px;
  padding: 0;

}
div.banner {
  border: 1px solid slateblue ;
  position: relative;
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  margin-bottom: -20px ;
}
div.box_top {
  width: 100%;
  height: 40px;
  max-width: 1280px;
  border: 2px solid black;
  background: #ffffff;
  font-size: 14px;
  font-family: "王漢宗細黑體繁", "Chalkboard SE";
  margin: 0px auto;
  background-position: center center;
  box-shadow: 3px -3px black;

}

div.ribbon {
  width: 100%;
  max-width: 1280px;
  height: 150px;
  margin: 0px auto;
}
div.ribbon a img {
  width: 250px;
  float:right;
}
div.about_me {

  width: 100%;
  max-width: 1280px;
  /* height: 600px; */
  position: relative;
  box-sizing: border-box;
  display: grid;
  grid-column: auto;
  grid-template-columns: auto auto auto auto auto;
  margin:0px auto;
  grid-column-gap: 0px;
}
div.about_me div.about_me1 {
  width: 100%;
  max-width: 100px;
  margin-left: 30px;
}
div.about_me div.about_me1 h1{
  font-size: 36px;
  height: 100px;
  color: #000000;
  font-family: "王漢宗細黑體繁", "Chalkboard SE","Monotype Corsiva";
  transform: rotate(90deg);
  transform-origin: 50% 50%;
  margin:80px 0px 0px -60px;
}
div.about_me div.about_me1 div.line1 {
  width: 1.5px;
  height: 375px;
  background:black;
  margin: 20px 0px 0px 35px ;

}
div.about_me div.about_me2 {
  width: 100%;
  max-width: 300px;
  position: relative;
  margin-left: 60px;

}
div.about_me div.about_me2 pre {
  line-height: 1;
  font-size: 18px;
  color: #000000;
  font-family: "王漢宗細黑體繁", "Chalkboard SE","Monotype Corsiva";
  margin:80px 0px 0px 0px;
}
div.about_me div.about_me2 p {
  font-size: 14px;
  color: #000000;
  font-family: "王漢宗細黑體繁", "Chalkboard SE","Monotype Corsiva";
  margin:100px 0px 0px 0px;
  line-height: 2;
}
div.about_me div.about_me2 a.more1{
  font-size: 14px;
  color: #000000;
  font-family: "王漢宗細黑體繁", "Chalkboard SE","Monotype Corsiva";
  border: 1px solid black;
  border-radius: 7px;
  text-decoration:none;
  margin: 100px 0px 0px 250px;
  padding: 6px;
  box-shadow: 2px 0px black;
}
div.about_me div.about_me3   {
    position: relative;
    width:100%;
    max-width: 400px;
    margin:0px;
    margin-left: 50px;
}
div.about_me div.about_me3 a.img img{
  width: 400px;
  margin:80px 0px 0px 0px;
}
div.about_me div.about_me3  p.text {
  margin:70px 0px 0px 0px;
  font-family: "王漢宗細黑體繁";
}
div.about_me  div.about_me3 div.line2 {
  width: 280px;
  height: 1.5px;
  background:black;
  margin: -10px 0px 0px 140px ;
  z-index: -1;

}
div.about_me div.about_me4   {
    width:100%;
    max-width: 240px;
    margin:0px 0px 0px 20px;

}
div.about_me div.about_me4 a.img img {
  width: 240px;
  margin:230px 0px 0px 0px;
}
div.about_me div.about_me4 p.text  {
  margin:-410px 0px 0px 0px;
  font-family: "王漢宗細黑體繁";
  float: right;
}


div.about_me div.about_me4 div.line3 {
  width: 180px;
  height: 1.5px;
  background:black;
  margin: -400px 0px 0px -60px ;
}

div.about_me  h2 {

  font-size: 24px;
  color: #000000;
  font-family:  "Monotype Corsiva";
  transform: rotate(90deg);
  transform-origin: 50% 50%;
  letter-spacing: 3px;
  margin:420px 0px 10px -130px;
  height:70px;
  width: 300px;
}
div.seasonal_goods_text{
  width:100%;
  max-width: 1280px ;
  margin:0px auto;
  margin-top: 80px;

}
div.seasonal_goods_text h3{
  font-size: 24px;
  color: #000000;
  font-family: "王漢宗細黑體繁", "Chalkboard SE","Monotype Corsiva";
  margin-left:150px;
}
section.Seasonal_goods {
  width:100%;
  max-width: 1280px;
  display: flex;
  margin: 50px auto;
  justify-content: center;
 

}

section.Seasonal_goods div.items_iocn{
  display: flex;
  padding: 20px;
}
section.Seasonal_goods div.items_iocn img{
  width:145px;
  border-right:1px solid  #000000;
  padding: 0px 10px 0px 10px;
}

section.Seasonal_goods div.items_iocn div.fish{
  text-align: center;
  text-decoration:none;
}
section.Seasonal_goods div.items_iocn div.fish a{
  text-decoration:none;
  font-size: 14px;
  color: #000000;
  font-family: "王漢宗細黑體繁", "Chalkboard SE","Monotype Corsiva";
}
section.Seasonal_goods div.items_iocn div.apple{
  text-align: center;
  text-decoration:none;
}
section.Seasonal_goods div.items_iocn div.apple a{
  text-decoration:none;
  font-size: 14px;
  color: #000000;
  font-family: "王漢宗細黑體繁", "Chalkboard SE","Monotype Corsiva";
}
section.Seasonal_goods div.items_iocn div.grape{
  text-align: center;
  text-decoration:none;
}
section.Seasonal_goods div.items_iocn div.grape a{
  text-decoration:none;
  font-size: 14px;
  color: #000000;
  font-family: "王漢宗細黑體繁", "Chalkboard SE","Monotype Corsiva";
}
section.Seasonal_goods div.items_iocn div.cherry{
  text-align: center;
  text-decoration:none;

}
section.Seasonal_goods div.items_iocn div.cherry a.origin img{
  border-right:0px ;
}
section.Seasonal_goods div.items_iocn div.cherry a{
  text-decoration:none;
  font-size: 14px;
  color: #000000;
  font-family: "王漢宗細黑體繁", "Chalkboard SE","Monotype Corsiva";
}

section.Seasonal_goods div.circle{
  background-image: url("../images/index/2_000000000960.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80%;
  width:220px;
  height:220px;
  border-radius: 99em;
  background-color:white;
  float: right;
  margin:-20px 0px 0px 50px;
  box-shadow:1px 3px 3px .5px gray;
}
section.Seasonal_goods_img div.items_img {
  box-sizing: border-box;
  width: 100%;
  max-width: 1280px;
  height:250px;
  display: grid;
  margin: 0 auto;
  overflow:hidden;
  grid-auto-flow: column;
  grid-template-columns: auto auto auto auto ;
  margin-bottom: 120px;
  font-size: 0px;
  grid-gap:0px;
}

section.Seasonal_goods_img div.items_img a.fishes2 img{
  width: 280px;
  filter:brightness(0.6);


}
section.Seasonal_goods_img div.items_img a.apples2 img{
  width: 400px;

  filter:brightness(0.6);
}
section.Seasonal_goods_img div.items_img a.grapes2 img{
  width: 350px;

  filter:brightness(0.6);
}
section.Seasonal_goods_img div.items_img a.cherries2 img{

  width: 250px;
  filter:brightness(0.6);
}

article.hot_goods{
  width: 100%;
  max-width: 1280px;
  /* height: 600px; */
  background-image: url("../images/index/01.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left 500px top 100px ;
  margin:100px auto;
}
article.hot_goods h4.hot_goods{
  font-size: 24px;
  color: #000000;
  font-family: "王漢宗細黑體繁", "Chalkboard SE","Monotype Corsiva";
  padding:100px 0px 0px 100px;
}
article.hot_goods div.hot_goods_text p{
  font-size: 18px;
  color: #000000;
  font-family: "王漢宗細黑體繁", "Chalkboard SE","Monotype Corsiva";
  margin:80px 0px 0px 150px;
}
article.hot_goods div.hot_goods_text a.more2{
  font-size: 14px;
  color: black;
  border: 1px solid black;
  border-radius: 7px;
  box-shadow: 2px 0px black;
  text-decoration:none;
  padding: 4px ;
  margin:500px 0px 0px 400px;
}
article.hot_goods div.hot_goods_img {
  float: right;
  overflow:hidden;
  display: flex;
  width: 550px;
  height: 450px;
  margin:-360px 0px 0px 0px;

}
article.hot_goods div.hot_goods_img img{
  width: 380px;
  height: 420px;
}

article.hot_goods div.bar{
  border: 1px solid black;
  height: 80px;
  margin-top: 100px ;

}

div.text_{
  font-size: 14px;
  font-family: "王漢宗細黑體繁", "Chalkboard SE";
  background-color: #EF6306;
  text-align: center;
  max-width: 1280px;
  margin: 0px auto;
}
