@import "./common/all.css";
@import "./common/header.css";
@import "./common/footer.css";



.carousel-item img{
  max-width: 1100px;
  width: 100%;
  font-size: 0px;
  padding: 0;
  margin: 0
}
div.banner {
  /* border: 1px solid slateblue ; */
  position: relative;
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  margin-bottom: -20px ;
}

.newsticker {
  width: 1280px;
  height: 40px;
  border: 2px solid black;
  background: #ffffff;
  font-size: 14px;
  margin: 0px auto;
  background-position: center center;
  box-shadow: 3px -3px black;
  cursor: default;
  line-height: 15.6px;
  position: relative;
  overflow: hidden;
 
}

.newsticker .newsticker-list {
  width: 1280px;
  position: absolute;
  top:9px;
  text-align: center;
  margin: 0 auto;
  
}

.newsticker .newsticker-list .newsticker-item {
  height: 30px;
  width:1280px;
  margin-left:-30px ;
  overflow: hidden;
  white-space: nowrap;
  
}

div.newsticker  p{
  font-size: 14px;
  margin: 10px 0px 0px 20px;
}
div.newsticker a{
  font-size: 14px;
  padding: 15px;
  text-decoration: none;
  float: right;
  color: black;
  margin: -30px 20px 0px 0px;
}

div.ribbon {
  width: 100%;
  max-width: 1280px;
  height: 150px;
  margin: 0px auto;
}
div.ribbon a img {
  width: 100%;
  max-width: 250px;
  float:right;
}
div.about_me {
  /* border: 1px solid crimson; */
  width: 100%;
  max-width: 1280px;
  position: relative;
  box-sizing: border-box;
  display: flex;
  margin:0 auto;
}
div.about_me div.about_me1 {
  /* border: 1px solid slateblue; */
  width: 100%;
  max-width: 100px;
  margin-left: 30px;
}
div.about_me div.about_me1 h1{
  font-size: 36px;
  height: 100px;
  color: #000000;
  transform: rotate(90deg);
  transform-origin: 50% 50%;
  margin:80px 0px 0px -60px;
}
div.about_me div.about_me1 div.line1 {
  width: 1.5px;
  height: 375px;
  background:black;
  margin: 20px 0px 0px 50px ;

}
div.about_me div.about_me2 {
  /* border: 1px solid saddlebrown; */
  position: relative;
  margin-left: 30px;
  display: block;

}
div.about_me div.about_me2 pre.text1 {
  margin:80px 0px 0px 0px;
  font-size: 18px;
  color: #000000;
 
}
div.about_me div.about_me2 pre.text2 {
  margin:-10px 0px 0px 0px;
  float: right;
  font-size: 18px;
  color: #000000;

}
div.about_me div.about_me2 p {
  margin-top: 20px;
  font-size: 14px;
  color: #000000;
  line-height: 2;
}
div.about_me div.about_me2 a.more1{
  font-size: 14px;
  color: #000000;
  border: 1px solid black;
  border-radius: 7px;
  text-decoration:none;
  float: right;
  margin: -30px 0px 0px 0px;
  padding: 2px;
  box-shadow: 2px 0px black;
}
div.about_me div.about_me3   {
  /* border: 1px solid darkblue; */
  position: relative;
  margin-left: 50px;
}
div.about_me div.about_me3 a.img img{
  width: 400px;
  margin:80px 0px 0px 0px;
}
div.about_me div.about_me3  p.text {
  margin:100px 0px 0px 0px;
}
div.about_me  div.about_me3 div.line2 {
  width: 280px;
  height: 1.5px;
  background:black;
  margin: -10px 0px 0px 140px ;
  z-index: -1;

}
div.about_me div.about_me4   {
  /* border: 1px solid darkgoldenrod; */
  margin-left: 0px;

}
div.about_me div.about_me4 a.img img {
  width: 260px;
  margin:230px 0px 0px 0px;
}
div.about_me div.about_me4 p.text  {
  margin:-435px 0px 0px 0px;
  float: right;
}


div.about_me div.about_me4 div.line3 {
  width: 220px;
  height: 1.5px;
  background:black;
  margin: -420px 0px 0px -100px ;
}
div.about_me  div.slogan {
  max-width: 100px;
  width:100%;
  font-size: 24px;
  color: #000000;
  font-family:  "Monotype Corsiva";

}
div.about_me  div.slogan p {
  font-size: 24px;
  color: #000000;
  font-family:  "Monotype Corsiva";
  transform: rotate(90deg);
  transform-origin: 50% 50%;
  letter-spacing: 3px;
  margin:265px 0px 10px 0px;
  white-space: pre;

}

div.seasonal_goods_text{
  width:100%;
  max-width: 1280px ;
  margin:0 auto;
  margin-top: 80px;

}
div.seasonal_goods_text h3{
  font-size: 24px;
  color: #000000;
  margin-left:150px;
}
section.Seasonal_goods {
  width:100%;
  max-width: 1280px;
  display: flex;
  margin: 50px auto;
  justify-content: center;
 

}

section.Seasonal_goods div.items_iocn{
  display: flex;
  padding: 20px;
  line-height: 1;
}
section.Seasonal_goods div.items_iocn img{
  width:145px;
  border-right:1px solid  #000000;
  padding: 0px 10px 0px 10px;
}

section.Seasonal_goods div.items_iocn div.fish{
  text-align: center;
  text-decoration:none;
}
section.Seasonal_goods div.items_iocn div.fish a{
  text-decoration:none;
  font-size: 14px;
  color: #000000;
}
section.Seasonal_goods div.items_iocn div.apple{
  text-align: center;
  text-decoration:none;
}
section.Seasonal_goods div.items_iocn div.apple a{
  text-decoration:none;
  font-size: 14px;
  color: #000000;
}
section.Seasonal_goods div.items_iocn div.grape{
  text-align: center;
  text-decoration:none;
}
section.Seasonal_goods div.items_iocn div.grape a{
  text-decoration:none;
  font-size: 14px;
  color: #000000;
}
section.Seasonal_goods div.items_iocn div.cherry{
  text-align: center;
  text-decoration:none;

}
section.Seasonal_goods div.items_iocn div.cherry a.origin img{
  border-right:0px ;
}
section.Seasonal_goods div.items_iocn div.cherry a{
  text-decoration:none;
  font-size: 14px;
  color: #000000;
  
}

section.Seasonal_goods div.circle{
  background-image: url("../images/index/2_000000000960.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80%;
  width:220px;
  height:220px;
  border-radius: 99em;
  background-color:white;
  float: right;
  margin:-20px 0px 0px 50px;
  box-shadow:1px 3px 3px .5px gray;
}
section.Seasonal_goods_img ul.img_list{
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
  font-size: 0;

}
section.Seasonal_goods_img ul.img_list > li{
  /* border: 1px solid red; */
  display: inline-block;
  vertical-align: top;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 25%;
  font-size: o;
}

section.Seasonal_goods_img div.img_block{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  
  /* 100% 是寬度的 100% */
/*   padding-top: 100%; */
  padding-top: 60%;
}



div.img_block.-a{
  background-image: url("../images/index/IMG_2654.jpg");
  filter:brightness(0.6);
}
div.img_block.-b{
  background-image: url("../images/index/apples-box-near-plants_176474-8915.jpeg");
  filter:brightness(0.6);
}
div.img_block.-c{
  background-image: url("../images/index/female-wearing-overalls-collecting-grapes-vineyard_1150-42489.jpeg");
  filter:brightness(0.6);
}
div.img_block.-d{
  background-image: url("../images/index/cherry.jpeg");
  filter:brightness(0.6);
}

article.hot_goods{
  width: 100%;
  max-width: 1280px;
  height: 600px;
  background-image: url("../images/index/01.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left 500px top 100px ;
  margin:100px auto;
}
article.hot_goods h4.hot_goods{
  font-size: 24px;
  color: #000000;
  padding:100px 0px 0px 100px;
}
article.hot_goods div.hot_goods_text p{
  font-size: 18px;
  color: #000000;
  margin:80px 0px 0px 150px;
}
article.hot_goods div.hot_goods_text a.more2{
  font-size: 14px;
  color: black;
  border: 1px solid black;
  border-radius: 7px;
  box-shadow: 2px 0px black;
  text-decoration:none;
  padding: 4px ;
  margin:500px 0px 0px 400px;
}
article.hot_goods div.hot_goods_img {
  float: right;
  overflow:hidden;
  display: flex;
  width: 550px;
  height: 450px;
  margin:-330px 0px 0px 0px;

}
article.hot_goods div.hot_goods_img img{
  width: 380px;
  height: 420px;
}

article.hot_goods div.bar{
  margin: 0 auto;
  background-color: black;
  height: 10px;
  margin-top: 150px ;
  width: 50%;
 
  
}

