@import "./common/all.css";
@import "./common/header.css";
@import "./common/footer.css";
@import "./buttons.css";

.button--size-l{
	background: #ffffff !important;
	color: #000000 !important;
	border: 1px solid #EF6306!important;
	transition: background-color 0.3s, color 0.3s!important;
}
.button--size-l:hover{
	border: none!important;
}
header.header nav.nav ul.link_list > li > a.announcement{
  color: #ffffff;
}

div.banner {
  width: 100%;
  max-width: 1280px;
  font-size: 0px;
  margin: 0px auto;
  position: relative;
  margin-bottom: 10px;
}
div.banner div.sales img{
  width: 100%;
  max-width: 960px;

}

section.Promotions_goods {
  position: relative;
  /* border: 1px solid black; */
  height: 730px;
  max-width: 1280px;
  width: 100%;
  margin: 100px auto;
  margin-top: 130px;
  background: linear-gradient(to right, #ffffff 50%, #D9D9D9 50%);
}
section.Promotions_goods div.Promotions_goods_img {
  width: 100%;
  display: flex;
  margin-left: 140px;

}

section.Promotions_goods div.Promotions_goods1 img {
  max-width: 310px;
  height: auto;
  border: 10px solid #656C74;
  margin:0px 30px 0px 0px;
}
section.Promotions_goods div.Promotions_goods2 img {
  max-width: 310px;
  height: auto;
  border: 10px solid #656C74;
  margin:155px 30px 0px 0px;
}
section.Promotions_goods div.Promotions_goods3 img {
  max-width: 310px;
  height: auto;
  border: 10px solid #656C74;
  margin:310px 30px 0px 0px;
}
 

