@import "./common/all.css";
@import "./common/header.css";
@import "./common/footer.css";
@import "./buttons.css";

header.header nav.nav ul.link_list > li > a.announcement{
  color: #ffffff;
}

div.banner {
  width: 100%;
  max-width: 1280px;
  font-size: 0px;
  margin: 0px auto;
  position: relative;
}
div.banner div.cherries img{
  width: 960px;

}
div.banner div.text img{
  width: 600px;
  margin:-345px 0px 0px 520px;
  z-index: 20;
  position:absolute;
}



article.news{
  width: 1280px;
  height: 1000px;
  margin: 20px auto;
 

}

article.news div.news1{
  height: 230px;
  width: 80%;
  background: #D9D9D9;
  margin:105px 0px 80px 0px;
  display:flex;
  align-items: center ;
  /* justify-content: center; */
}

article.news div.news1 div.date{
  font-family: "王漢宗細黑體繁", "Chalkboard SE";
  color: #000000;
  margin:30px 0px 0px 100px;
  padding: 0px;

}
article.news div.news1 div.date h1{
  font-size: 24px;
  margin-bottom: -40px;
}
article.news div.news1 div.date h2{
  font-size: 40px;
}
article.news div.news1 div.straight_line{
  width: 1.5px;
  height: 120px;
  background:black;
  margin: 20px ;

}
article.news div.news1 div.text {
  margin-bottom:20px;

}


article.news div.news1 div.text p{
  font-size: 24px;
  margin-bottom:10px;

}
article.news div.news1 div.text a{
  font-size: 18px;

}

article.news div.news1 a.more{
  font-size: 14px;
  color: #000000;
  font-family: "王漢宗細黑體繁", "Chalkboard SE","Monotype Corsiva";
  text-decoration:none;
  margin: 100px 0px 0px 20px;

}

article.news div.news2{
  height: 230px;
  width: 80%;
  background: #000000;
  float:right;
  background-position: right center;
  color: #FFFFFF;
  font-family: "王漢宗細黑體繁", "Chalkboard SE";
  display:flex;
  align-items: center ;
  margin-bottom: 80px;
}

article.news div.news2 div.date{
  float: right;
  margin:30px 0px 0px 100px;
  padding: 0px;

}
article.news div.news2 div.date h1{
  font-size: 24px;
  margin-bottom: -40px;
}
article.news div.news2 div.date h2{
  font-size: 40px;
}
article.news div.news2 div.straight_line{
  width: 1.5px;
  height: 120px;
  background:white;
  margin: 20px ;

}
article.news div.news2 div.text {
  margin-bottom:20px;

}
article.news div.news2 div.text p{
  font-size: 24px;
  margin-bottom:10px;

}
article.news div.news2 div.text a{
  font-size: 18px;

}

article.news div.news2 a.more{
  font-size: 14px;
  color: white;
  font-family: "王漢宗細黑體繁", "Chalkboard SE","Monotype Corsiva";
  text-decoration:none;
  margin: 100px 0px 0px 20px;

}


article.news div.news3{
  height: 230px;
  width: 80%;
  background: #D9D9D9;
  margin:80px 0px 80px 0px;
  display:flex;
  align-items: center ;
}

article.news div.news3 div.date{
  font-family: "王漢宗細黑體繁", "Chalkboard SE";
  color: #000000;
  margin:30px 0px 0px 100px;
  padding: 0px;

}
article.news div.news3 div.date h1{
  font-size: 24px;
  margin-bottom: -40px;
}
article.news div.news3 div.date h2{
  font-size: 40px;
}
article.news div.news3 div.straight_line{
  width: 1.5px;
  height: 120px;
  background:black;
  margin: 20px ;

}
article.news div.news3 div.text {
  margin-bottom:20px;

}
article.news div.news3 div.text p{
  font-size: 24px;
  margin-bottom:10px;

}
article.news div.news3 div.text a{
  font-size: 18px;

}

article.news div.news3 a.more{
  font-size: 14px;
  color: #000000;
  font-family: "王漢宗細黑體繁", "Chalkboard SE","Monotype Corsiva";
  text-decoration:none;
  margin: 100px 0px 0px 20px;

}


div.text_{
  font-size: 14px;
  font-family: "王漢宗細黑體繁", "Chalkboard SE";
  background-color: #EF6306;
  text-align: center;
  max-width: 1280px;
  margin: 0px auto;
}

