@import "./common/all.css";
@import "./common/header.css";
@import "./common/footer.css";
@import "./buttons.css";

header.header nav.nav ul.link_list > li > a.announcement{
  color: #ffffff;
}
div.banner {
  width: 100%;
  max-width: 1280px;
  font-size: 0px;
  margin: 0px auto;
  position: relative;
}
div.banner div.img img{
  width: 960px;
  top:0px;
  right: 0px;
}
div.banner div.text img{
  width: 600px;
  margin:-350px 0px 0px 620px;
  z-index: 20;
  position:absolute;
}

div.products {
position: relative;
z-index: -1;
width: 1280px;
height: 680px;
margin: 0 auto;
display: flex;

}


div.text_{
  font-size: 14px;
  font-family: "王漢宗細黑體繁", "Chalkboard SE";
  background-color: #EF6306;
  text-align: center;
  max-width: 1280px;
  margin: 0px auto;
}
