@import "./common/all.css";
@import "./common/header.css";
@import "./common/footer.css";
@import "./buttons.css";

.button--size-s{
	background: #ffffff !important;
	color: #000000 !important;
	border: 1px solid #EF6306!important;
	transition: background-color 0.3s, color 0.3s!important;
}
.button--size-s:hover{
	border: none!important;
}
header.header nav.nav ul.link_list > li > a.announcement{
  color: #ffffff;
}

div.banner {
  max-width: 1280px;
  font-size: 0px;
  margin: 0px auto;
  position: relative;
}
div.banner div.cherries img{
  width: 100%;
  max-width: 960px;

}
div.banner div.text img{
  width: 100%;
  max-width: 600px;
  margin:-345px 0px 0px 520px;
  z-index: 20;
  position:absolute;
}



article.news{
  max-width: 1280px;
  margin: 0 auto;
  position: relative;

}


article.news div.news1{
  height: 230px;
  width: 80%;
  background: #D9D9D9;
  margin:105px 0px 0px 0px;
  display:flex;
  align-items: center ;
  margin-bottom: 80px;
  /* justify-content: center; */
  }


article.news div.news1 div.date{
  color: #000000;
  margin:30px 0px 0px 100px;
}
article.news div.news1 div.date h1{
  font-size: 24px;
  margin-bottom: -40px;
}
article.news div.news1 div.date h2{
  font-size: 40px;
}
article.news div.news1 div.straight_line{
  width: 1.5px;
  height: 120px;
  background:black;
  margin: 20px ;

}
article.news div.news1 div.text {
  margin-bottom:20px;

}


article.news div.news1 div.text p{
  font-size: 24px;
  margin-bottom:10px;

}
article.news div.news1 div.text a{
  font-size: 18px;

}

article.news div.news1 a.more{
  font-size: 14px;
  color: #000000;
  text-decoration:none;
  margin: 100px 0px 0px 20px;

}

article.news div.news2{
  height: 230px;
  width: 80%;
  background: #000000;
  float:right;
  background-position: right center;
  color: #FFFFFF;
  display:flex;
  align-items: center ;
  margin-bottom: 80px;
}

article.news div.news2 div.date{
  float: right;
  margin:30px 0px 0px 100px;
  padding: 0px;

}
article.news div.news2 div.date h1{
  font-size: 24px;
  margin-bottom: -40px;
}
article.news div.news2 div.date h2{
  font-size: 40px;
}
article.news div.news2 div.straight_line{
  width: 1.5px;
  height: 120px;
  background:white;
  margin: 20px ;

}
article.news div.news2 div.text {
  margin-bottom:20px;

}
article.news div.news2 div.text p{
  font-size: 24px;
  margin-bottom:10px;

}
article.news div.news2 div.text a{
  font-size: 18px;

}

article.news div.news2 a.more{
  font-size: 14px;
  color: white;
  text-decoration:none;
  margin: 100px 0px 0px 20px;

}


article.news div.news3{
  height: 230px;
  width: 80%;
  background: #D9D9D9;
  margin:80px 0px 80px 0px;
  display:flex;
  align-items: center ;
}

article.news div.news3 div.date{
  color: #000000;
  margin:30px 0px 0px 100px;
  padding: 0px;

}
article.news div.news3 div.date h1{
  font-size: 24px;
  margin-bottom: -40px;
}
article.news div.news3 div.date h2{
  font-size: 40px;
}
article.news div.news3 div.straight_line{
  width: 1.5px;
  height: 120px;
  background:black;
  margin: 20px ;

}
article.news div.news3 div.text {
  margin-bottom:20px;

}
article.news div.news3 div.text p{
  font-size: 24px;
  margin-bottom:10px;

}
article.news div.news3 div.text a{
  font-size: 18px;

}

article.news div.news3 a.more{
  font-size: 14px;
  color: #000000;
  text-decoration:none;
  margin: 100px 0px 0px 20px;

}


