@import "./common/all.css";
@import "./common/header.css";
@import "./common/footer.css";


div.banner {
  position: relative;
  height: 50px;
  color: white;
}

div.breadcrumb{
  padding: 5px 10px;
  margin: -50px 0px 20px 40px;
  border-radius: 5px;
}
div.breadcrumb ol.breadcrumb_list{
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
}
div.breadcrumb ol.breadcrumb_list > li{
/*   border: 1px solid red; */
  display: inline-block;
  color: #EF6306;
  font-size: 18px;
}



/* 利用 ::before 擬似元素，創造斜線做為分隔 */
div.breadcrumb ol.breadcrumb_list > li::before{
  content: "/";
  font-size: 18px;
  color: gray;
  margin: 0 10px;
}
/* 第一個 li 元素，將 ::before 設定回來需要的 */
div.breadcrumb ol.breadcrumb_list > li:first-child::before{
  display: none;
}


/* 基本文字樣式 */
div.breadcrumb ol.breadcrumb_list > li > a{
  /* border: 1px solid blue; */
  text-decoration: none;
  display: inline-block;
  color: black;
}

/* 滑動移過後改變文字顏色 */
div.breadcrumb ol.breadcrumb_list > li > a:hover{
  color: #EF6306;
}



div.outer_block{
  /* border: 1px solid deeppink; */
  position: relative;
  width: 1280px;
  margin: 100px auto;
  display: flex;

}

div.left_block{
  /* border: 1px solid orange; */
  position: relative;
  margin:0px 0px 0px 100px;
  flex-basis: 550px;
  flex-shrink: 0;
  font-size: 18px;
}

div.left_block div.show{
  /* border: 1px solid purple; */
  width:470px; 
  height:auto; 
  margin:0 auto;
}
div.left_block div.show div.item{
  width:470px; 
  height:auto; 
  float:left; 

}
a.big-photo img{ 
  width:470px; 
  height:470px; 
}
a.des-small img{
   width:152px; 
   height:152px;
}
div.clear{
  clear:both
}

div.right_block{
  /* border: 1px solid purple; */
  position: relative;
  flex-grow: 1;
  margin-right: 100px;
  
}
div.right_block h1{
  font-size: 18px;
  margin-top: 0px;
}
 div.right_block div.text{
   margin-top: -10px;
  font-size: 16px;
  line-height: 1.5;
  
}

div.right_block select.custom_select{
  margin-top: 20px;
  text-align: center;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  height: 30px;
  outline: none;
  background: none;
  border: 1px solid black;
  width: 100px;
  padding: 5px 10px;

  background-image: url("../images/Product/up-arrow.png");
  background-repeat: no-repeat;
  background-size: 8px;
  background-color: white;

  background-position: right 8px center;
  cursor: pointer;
  font-size: 14px;
  border-radius: 0px;
}
div.right_block input{
  height: 30px;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background-color: white;
  text-align: center;

}
div.right_block input.min,input.add{
  width: 20px;
  
}
div.right_block input.quantity{
  width: 60px;
  
}
button{
  background-color: #EF6306;
  color:white;
  font-size: 14px;
  margin-top: 20px;
  height: 30px;
}

 h2{
  width: 1280px;
  font-size: 18px;
  margin: 0px auto;
  text-align: center;
 }

