@import "./common/all.css";
@import "./common/header.css";
@import "./common/footer.css";

header.header nav.nav ul.link_list > li > a.Product{
  color: #ffffff;
}

div.banner {
  position: relative;
  height: 50px;
  color: white;
}

div.breadcrumb{
  padding: 5px 10px;
  margin: -50px 0px 20px 40px;
  border-radius: 5px;
}
div.breadcrumb ol.breadcrumb_list{
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
}
div.breadcrumb ol.breadcrumb_list > li{
/*   border: 1px solid red; */
  display: inline-block;
  color: #EF6306;
  font-size: 18px;
}



/* 利用 ::before 擬似元素，創造斜線做為分隔 */
div.breadcrumb ol.breadcrumb_list > li::before{
  content: "/";
  font-size: 18px;
  color: gray;
  margin: 0 10px;
}
/* 第一個 li 元素，將 ::before 設定回來需要的 */
div.breadcrumb ol.breadcrumb_list > li:first-child::before{
  display: none;
}


/* 基本文字樣式 */
div.breadcrumb ol.breadcrumb_list > li > a{
  /* border: 1px solid blue; */
  text-decoration: none;
  display: inline-block;
  color: black;
}

/* 滑動移過後改變文字顏色 */
div.breadcrumb ol.breadcrumb_list > li > a:hover{
  color: #EF6306;
}

div.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  /* border: 1px solid black; */
  font-size: 16px;
  margin: 20px 60px 0px 60px;
  /* padding: 30px; */
  gap: 20px;
}
div.grid-container div.fish1  {
  position:relative;
  text-align: center;
  margin: 0px auto;
  width: 230px;

}
div.grid-container div.fish1 a {
  text-decoration:none;
  color: black;
  
}

div.outer_block{
  position: relative;
  width: 1280px;
  margin: 100px auto;
  display: flex;

}

div.left_block{
  /* border: 1px solid orange; */
  position: relative;
  margin:0px 0px 0px 100px;
  flex-basis: 550px;
  flex-shrink: 0;
  font-size: 18px;
  font-family: "王漢宗細黑體繁", "Chalkboard SE";
}

div.left_block div.show{
  /* border: 1px solid purple; */
  width:470px; 
  height:auto; 
  margin:0px auto;
}
div.left_block div.show div.item{
  width:470px; 
  height:auto; 
  float:left; 
  margin:15px;
}
a.big-photo img{ 
  width:470px; 
  height:470px; 
}
a.des-small img{
   width:150px; 
   height:150px;
}
div.clear{
  clear:both
}

div.right_block{
  position: relative;
  flex-grow: 1;
  margin-right: 100px;
}
div.right_block h1{
  font-size: 18px;
  font-family: "王漢宗細黑體繁", "Chalkboard SE";
}
div.right_block span{
  font-size: 14px;
  font-family: "王漢宗細黑體繁", "Chalkboard SE";
}

div.right_block select.custom_select{
  margin-top: 40px;
  text-align: center;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;

  outline: none;
  background: none;
  border: 1px solid black;
  width: 100px;
  padding: 5px 10px;

  background-image: url("../images/Product/up-arrow.png");
  background-repeat: no-repeat;
  background-size: 8px;
  background-color: white;

  background-position: right 8px center;
  cursor: pointer;
  font-size: 14px;
  font-family: "王漢宗細黑體繁", "Chalkboard SE";
  border-radius: 0px;
}
div.right_block input{
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background-color: white;
}
button{
  background-color: #EF630;
  color:black
  font-size: 14px;
  font-family: "王漢宗細黑體繁", "Chalkboard SE";
}

 h2{
  width: 1280px;
  font-size: 24px;
  font-family: "王漢宗細黑體繁", "Chalkboard SE";
  margin: 0px auto;
  text-align: center;
 }
div.text_{
  font-size: 14px;
  font-family: "王漢宗細黑體繁", "Chalkboard SE";
  background-color: #EF6306;
  text-align: center;
  max-width: 1280px;
  margin: 0px auto;
}

