@media (max-width: 992px) {
    div.banner {
        height: 420px;
        width: 992px;

      
      }
      div.outer_block{
        /* border: 1px solid red; */
        width: 992px;
        margin: 50px auto;
    
      
      }
      div.left_block{
        /* border: 1px solid red; */
        margin:0px 0px 0px 30px;
        flex-basis: 150px;

      }
      div.right_block{
        /* border: 1px solid purple; */
        flex-grow: 1;
        margin-right: 0px;
      }
      div.grid-container {
        display: grid;
        grid-template-columns: auto auto auto;
        /* border: 1px solid black; */
        font-size: 16px;
        margin: 20px 30px 0px 30px;
        /* padding: 30px; */
        gap: 20px;
      }
}

@media (max-width: 768px) {
    div.banner {
        height: 350px;
        width: 768px;
        margin-top: -10px;

      
      }
      div.outer_block{
        /* border: 1px solid red; */
        width: 768px;
        margin: 50px auto;
    
      
      }
      div.left_block{
        /* border: 1px solid red; */
        margin:0px 0px 0px 20px;
        flex-basis: 150px;
        flex-shrink: 0;
        font-size: 18px;
    
      }

      div.grid-container {
        display: grid;
        grid-template-columns: auto auto auto;
        /* border: 1px solid black; */
        font-size: 16px;
        margin: 20px 10px 0px 10px;
       
        gap: 10px;
      }
      div.grid-container div.fish1  {

        width: 180px;
      
      }
    
      div.fish1  img{
        width: 180px;

       
      }
      
      div.fish2 a img{
        width: 180px;
      }
      div.fish3 a img{
        width: 180px;
      }
      div.cherry a img{
        width: 180px;
      }

      div.cantaloupe a img{
        width: 180px;
      }
      div.apple a img{
        width: 180px;
      }

      div.grape a img{
        width: 180px;
      }

      div.pitaya1 a img{
        width: 180px;
      }
  
      div.pitaya2 a img{
        width: 180px;
      }
      
}

@media (max-width: 576px) {
    div.banner {
        height: 280px;
        width: 576px;
        margin-top: -10px;

      
      }
      div.outer_block{
        width: 576px;
        /* margin: 50px auto; */
      
      }
      div.left_block{
        /* border: 1px solid red; */
        margin:0px 0px 0px 20px;
        flex-basis: 150px;
        flex-shrink: 0;
        font-size: 18px;
    
      }

      div.grid-container {
        display: grid;
        grid-template-columns: auto auto ;
        /* border: 1px solid black; */
        font-size: 16px;
        margin: 20px 10px 0px 0px;
       
        gap: 5px;
      }
   
  
}
@media (max-width: 414px) {
    div.banner {
        height: 200px;
        width: 414px;

      }
      div.outer_block{
            /* border: 1px solid darkgreen; */
        width: 414px;
        margin: 30px auto;
        display: block;

      }
      div.left_block{
        margin:0px 10px 0px 10px;
       
       
      }
      div.left_block div.category{
        width: 90%;
        display: grid;
        grid-template-columns: auto auto auto;
        margin: 0 auto;
        /* margin-bottom: 5px ; */
      }
    

    div.left_block h1{
      font-size: 20px;
      margin: 20px;
    }
 
      div.left_block a.fish img{
        /* border: 1px solid darkorchid; */
        
          margin:0px 10px -8px 0px;
      
      }
     
      div.left_block a.grape img{
    
        /* border: 1px solid darkorchid; */
          margin:-4px 5px -6px -7px;
   
      }
    
      div.left_block a.cherry img{
        /* border: 1px solid darkorchid; */
          margin:2px 10px -5px 0px;
          
      
      }
      div.left_block a.apple img{
         
          margin:0px 8px -5px 0px;
      }
   
      div.left_block a.cantaloupe img{
     
          margin:0px 6px -5px 0px;
      
      }
      div.left_block a.pitaya img{
         
          margin:0px 6px -6px 0px;
      }
      div.grid-container {
        /* border: 1px solid red; */
        margin: 20px 30px 0px 20px;
        gap:20px;
      }
      div.grid-container div.fish1  { 
        width: 165px;
      
      }
    
      div.fish1  img{
        width:  165px;

      }
      
      div.fish2 a img{
        width: 165px;
      }
      div.fish3 a img{
        width: 165px;
      }
      div.cherry a img{
        width: 165px;
      }

      div.cantaloupe a img{
        width: 165px;
      }
      div.apple a img{
        width: 165px;
      }

      div.grape a img{
        width: 165px;
      }

      div.pitaya1 a img{
        width: 165px;
      }
  
      div.pitaya2 a img{
        width: 165px;
      }
   
}
@media (max-width: 375px) {
    div.banner {
        height: 190px;
        width: 375px;

      }
      div.outer_block{
        /* border: 1px solid red; */
        width: 375px;
        margin: 30px auto;
    
      
      }
      div.left_block{
        margin:0px 10px 0px 10px;
       
       
      }
      div.left_block div.category{
        width: 90%;
        display: grid;
        grid-template-columns: auto auto auto;
        margin: 0 auto;
        /* margin-bottom: 5px ; */
      }
    

    div.left_block h1{
      font-size: 18px;
    }
 
      div.left_block a.fish img{
       
          width: 16px;
          margin:0px 10px -8px 0px;
      
      }
     
      div.left_block a.grape img{
      
          width: 26px;
          margin:0px 5px -6px -7px;
   
      }
    
      div.left_block a.cherry img{
          width: 18px;
          margin:0px 10px -5px 0px;
          
      
      }
      div.left_block a.apple img{
          width: 20px;
          margin:0px 8px -3px 0px;
      }
   
      div.left_block a.cantaloupe img{
          width: 22px;
          margin:0px 6px -5px 0px;
      
      }
      div.left_block a.pitaya img{
          width: 22px;
          margin:0px 6px -5px 0px;
      }
      div.grid-container {
        border: 1px solid red;
        font-size: 12px;
        margin: 10px 20px 0px 20px;
        gap:20px;
        
      }
   
      div.grid-container div.fish1  {
        
        width: 150px;
      
      }
    
      div.fish1  img{
        width: 150px;

       
      }
      
      div.fish2 a img{
        width: 150px;
      }
      div.fish3 a img{
        width: 150px;
      }
      div.cherry a img{
        width: 150px;
      }

      div.cantaloupe a img{
        width: 150px;
      }
      div.apple a img{
        width: 150px;
      }

      div.grape a img{
        width: 150px;
      }

      div.pitaya1 a img{
        width: 150px;
      }
  
      div.pitaya2 a img{
        width: 150px;
      }
}
@media (max-width: 320px) {
  
}