body {
  margin: 0;
}
/* header.header{
  display: flex;
} */
header.header a.logo_img{
display: block;
margin: -2px 40px 0px 40px;
float: left;

}
header.header a.logo_img img{
width: 140px;
padding: 20px auto;
}

header.header div.right_icon{
position: relative;
display: flex;
float: right;
padding:13px 0px;
}
header.header div.right_icon_img img{
width: 30px;
padding: 7px 6px 4px 6px;
}
.clearfix {
  clear: both;
}

nav {
  font-family: Helvetica;
  text-align: left;
  text-transform: uppercase;
  background-color: #EF6306;
}

nav ul {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  list-style-type: none;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  font-size: 18px;
  color: black;
  font-weight: bold;
  text-decoration: none;
  display: inline-block;
  padding: 1em;
  box-sizing: border-box;
  font-family: "微軟正黑體";
}

nav ul li a:hover {
  color: white;
}

.current_page a {
  color: white;
}

#menu_button_wrapper{
  display: none;
}

.hidden {
  display: none;
}

/* Responsive for smaller screens */

@media (max-width: 921px) {
  #menu_button_wrapper{

      display: block;
      padding: 1em;
      color: #9d9d9d;
      /* border-bottom: 1px solid #101010; */
      /* -webkit-box-shadow: 0 1px 0 rgba(255,255,255,.1); */
      /* box-shadow: 0 1px 0 rgba(255,255,255,.1); */
      margin-bottom: 10px;

  }

  #menu_button {
      box-sizing: border-box;
      border-radius: 5px;
      color: black;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
  }

  #menu_button:hover {
      cursor: pointer;
      /* background-color: #333; */
  }

  #hamburger {
    margin-top: -12px;
  
  }

  #menu_button span{
      display: block;
      background-color: black;
      width: 1.2em;
      height: .15em;
      border-radius: 1px;
      margin-bottom: 5px;

  }

  nav ul {
    text-align: center;
    height: 100vh;
      width: 100%;
      background-color: white;
      margin: 0 auto;
      padding: 100px;
      box-sizing: border-box;
  }

  nav ul li {
      display: block;
  }

  nav ul li a {
      width: 100%;
  }
  nav ul li a:hover {
    color: #EF6306;
  }
  nav ul li.current_page a {
      color: #EF6306;
  }
  header.header a.logo_img img{
    width: 120px;
    padding: 10px auto;
    margin: 10px 0px 0px 350px;
    }
    header.header div.right_icon{
      position: relative;
      display: flex;
      float: right;
      margin-right:20px ;
      padding-top: 17px;
      }
}



@media (max-width: 768px) {
  #menu_button_wrapper{
      margin-bottom: 10px;
  }

  header.header a.logo_img img{
    width: 120px;
    padding: 10px auto;
    margin: 10px 0px 0px 260px;
    }
}

@media (max-width: 576px) {

  header.header a.logo_img img{
    margin: 10px 0px 0px 160px;
    }
}
@media (max-width: 414px) {
  header.header a.logo_img img{
    margin: 10px 0px 0px 70px;
    }

  header.header div.right_icon{
    margin: 0px 0px 0px 0px;
    }
  }

@media (max-width: 375px) {
  header.header a.logo_img{
    margin: -2px 0px 0px 60px;
    
    }
  header.header a.logo_img img{
    margin: 10px 0px 0px 20px;
    }
  header.header div.right_icon{
    margin: 0px 10px 0px 0px;
    }
  }
  
  @media (max-width: 320px) {
    header.header a.logo_img img{
      margin: 10px 0px 0px 10px;
      width: 100px;
    }
  
    header.header div.right_icon{
      
      margin: 0px 0px 0px 0px;
    }
    header.header div.right_icon_img img{
      width: 20px;
      padding: 7px 3px 4px 3px;
      margin-right: 5px;
    }
  
    #hamburger {
      margin-top: -15px;
        
    }

  }